.checkout-page {
    width: 90%;
    max-width: 1200px;
    margin: 120px auto 70px;
    font-family: "Poppins", sans-serif;
  }
  
  .checkout-page h2 {
    font-size: 1.9rem;
    margin-bottom: 30px;
    font-weight: 700;
  }
  
  .checkout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  
  /* PAYMENT SECTION */
  .payment-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .payment-box h3 {
    margin-bottom: 8px;
  }
  
  .payment-box label {
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .payment-box input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    outline: none;
    font-size: 0.95rem;
  }
  
  .row-2 {
    display: flex;
    gap: 20px;
  }
  
  .save-card {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .pay-btn {
    background: #FFC633;
    padding: 14px;
    border: none;
    border-radius: 40px;
    width: 60%;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* DELIVERY DETAILS */
  .delivery-box h3 {
    margin-bottom: 15px;
  }
  
  .detail-row {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .detail-icon {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    background: #f1f1f1;
  }
  
  .detail-title {
    font-weight: 600;
    margin-bottom: 3px;
  }
  
  .btn-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .confirm-btn {
    background: #FFC633;
    border: none;
    padding: 12px 35px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .edit-btn {
    border: 2px solid #FFC633;
    padding: 10px 35px;
    border-radius: 40px;
    background: white;
    cursor: pointer;
    font-weight: 600;
  }
  
  /* RESPONSIVE */
  @media (max-width: 900px) {
    .checkout-grid {
      grid-template-columns: 1fr;
    }
  
    .pay-btn,
    .confirm-btn,
    .edit-btn {
      width: 100%;
    }
  }
  